language:
  - ruby
  - java
jdk: openjdk8
rvm:
  - 2.5.1
branches:
  only: master
before_install: gem update --system
script: 
  - bundle exec rake build
  - bundle exec s3_website install
  - java -cp $(bundle show s3_website)/*.jar s3.website.Push
cache: bundler
env:
  global:
  - secure: xrkPJZBapsu3tXC1pjU67O6krs691uaLby1FTnY4eGdaTQyw+v/v7RtWLYpPvmxcJ6tIubDNmzRsPrEFvBaeEhMr59SRISXeoRx5dhDd6A4h8QO6TSDsMLoNctoUAoKqFaKkvQek5hGOdaPqq02e9TGW41TywemUv9QMAMjXQcjEWdqH4Kb/6QkL7EnGOZm1oFQwOKPvCKFNxiEgtyvuZ3ngGWq4i5rYaTUj8E3MvNOJDEOjoz/+VXuX4MuD9++WPdeKNYYoAB9OJ0oMNL5humyx4vF1hsC3w4eg9qM405q9zmy1b0g9P4wQYJHtAKYMR3h/7+8iMg5lSod57wj5fUaizi4ul/cBK6gmPdn7e1R/I2Qh+eXCAMiTk5ar9K4ffMncEbzC6wG4eB5sa5iY44QBteyEFDUjDq3LpbkWMCg+QDsfAudpn1uu2Lp48bPQAi86tycro2NpHZZ3g4b/KYV/S4THKegKfiDKuc78CZ4Oxccr33j1ROrLmTMQvD8nUFm12b9r0hmWsOpfL0UYAso1kPVIaEkz1tjMZA+kmxsIogR/mng+1w1BolAotc0UzF1cjBRJ5ChdmUX61XwC2kqRp5fgU5/Pasppt7jHEJC7jeLAVdSgZ1/H2PoVSwXKabovRf6UjZUBfegO9AwRFB2XT79TCYro1dE6u8sT9d0=
  - secure: SM7MzBpNwd6ruKfY8qMeZooz7xZnWqyM0bu/ZiMYeAf2bf+cP0XvAuqOU7BM2x5RLO+Nvf/P4e0C73TDUltlMRVLgscfnrzGYwc8bI/BzR3U2fx8qWsX9/t2FaomrS+V2QN/LDCkbVCs5Xw8d016kYpDlLaDGrya6ONgF35JZ2ia/C0ZX8FFAK3yIULTnY1MJTw1TNWHwVstHJyNDUFYM446UlkBCpTlZkGLICCnlP9zMAoO0tW1+jQ9IeuAgzumbfoMWptSEeAEC3SZrcbl7LQWI3bEhVLhK7CUC+RpYcQQyh9BB6RWJbVyN3QKlPxPlotYbLEb7ORpZhTy1s2gdMoj50TlXsuQAKvQRTjRfNySZPOp1iFvUHrszIz4bmCcLTi9Ol023WAViGFYdUf+w4ARKET+Smo4qB2c7MBCniIpViHXmsZ8oqHdt0/N/0+y7pCnj8VoOASVAXcE0gTBvXaFN3fKHOaH8ibjmONnuP5JHMMf/h8SqtkuOI21a6Kac/7idV/lxgW7P+vwKtpwOuutk3I0OEj7lmP52S9mNZfDYKYYO2C5lutYasEpf9JqsFK3hluk22T+bpsyoJpy7dKf/UYHF0BLaPAfkSuCVJbO58YEupsHf8FOZX2smw0/liAeIJE0Thvk9SqiyyHvKCmZj4OwyRF+eu8YD9jmG84=
