<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">{{ site.name }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/faq/">FAQ</a></li>
          <li><a href="/cv/">Résumé</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/projects/">Project Listing</a></li>
              <li class="divider"></li>
              <li class="nav-header">Favorites</li>
              <li><a href="/projects/simpleshell/">Simple Shell</a></li>
              <li><a href="/projects/rocky4/">Rocky IV</a></li>
              <li><a href="/projects/99bottles/">99 Bottles of Beer</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
